body {
  background-color: #8e89cb;
  background-image: url(background-photo.png);
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  width: auto;
  height: 100%;
  object-fit: contain;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background-color: aliceblue;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* .side-menu {
  position: absolute;
  top: 150px;
  right: 20px;
  width: 200px;
  padding: 16px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
} */
.menu-drop {
  top: 0;
  right: 0;
  border-radius: 12px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); */
  /* transform: translateY(-10px); */
  /* transition: all 0.2s ease; */
  display: flex;
  gap: 10px;
  margin: 0;
  margin-top: -5px;
  padding: 5px;
  align-items: center;
  min-width: calc(100vw - 154px);
}
.menu-drop:last-child {
  border: none;
}
nav {
  max-width: 900px;
  border-radius: 20px;
  direction: rtl;
  text-align: center;
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;

  border-radius: 20px;

  direction: rtl;
  text-align: center;
}
/* .side-menu:hover .menu-drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(8px);
} */
.side-button {
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  color: #070606;
  padding: 10px 0;
  /* border-radius: 20px; */
  text-decoration: solid;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* border-width: 14px; */
  gap: 15px;
  /* border-bottom: 1px solid; */
  width: calc(100% - 10px);
  white-space: nowrap;
  padding-right: 10px;
  font-size: 18px;
  width: 20%;
  border-left: solid 1px #070606;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 680px;
  margin: 40px auto;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.48);
}
.container h1 {
  text-align: center;
}
.container h2 {
  text-align: center;
}
.link-cube {
  display: flex;
  background-color: rgb(254, 253, 255);
  color: #333;
  padding: 30px;
  max-width: 200px;
  border-radius: 20px;
  text-decoration: solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border-width: 24px;
  gap: 10px;
}
.link-cube:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
footer {
  background-color: #000;
  height: 50px;
}

.back-homepage {
  position: fixed;
  bottom: 30px;
  left: 5px;
  z-index: 9999;
  display: inline-block;
  direction: rtl;
  text-align: right;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #272525c6;
  border-radius: 15px;
  margin-right: 80%;
}

#form {
  max-width: 650px;
  margin: 40px auto;
  background-color: aliceblue;
  border-radius: 20px;
  direction: rtl;
  text-align: center;
  border: 1px solid #9e9e9e;
  box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.48);
  padding-bottom: 20px;
  display: grid;
  height: 600px;
  align-items: center;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  padding-right: 20px;
  font-size: larger;
  margin-right: 100px;
}
.form-group ::placeholder {
  color: #cecece;
  text-align: center;
}
.form-group input {
  background: rgba(48, 47, 47, 0.608);
  color: #fdf4f4;
  border-radius: 10px;
  border: 1px solid #070606;
  max-width: 250px;
  height: 25px;
}
.form-group label {
  min-width: 100px;
  text-align: right;
  font-weight: 700;
}

.primary-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.option-icon {
  width: 20px;
  height: 20px;
}
#open {
  text-align: center;
  justify-content: center;
}
#open ol {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: right;
}
.submit-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.submit-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.submit-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#check-status-form {
  max-width: 650px;
  margin: 40px auto;
  background-color: aliceblue;
  border-radius: 20px;
  direction: rtl;
  text-align: center;
  border: 1px solid #9e9e9e;
  box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.48);
  padding-bottom: 20px;
}

.primary_container {
  max-width: 900px;
  /* margin: 40px auto; */
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  direction: ltr;
  text-align: right;
  display: flex;
  flex-direction: column;
  border: 1px solid #9e9e9e;
  box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.48);
  align-items: center;
}

.primary_container h1 {
  text-align: center;
  direction: rtl;
}

.options {
  max-width: 900px;
  width: 900px;
  overflow-y: auto;
  border: 1px;
  padding: 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 60vh; /* יחסי לגובה המסך */
  overflow-y: auto;
  padding-right: 10px;
}

.option_cube {
  display: block;
  width: 100px;
  gap: 20px;
  background-color: rgb(246, 244, 248);
  color: #333;
  padding: 20px;
  margin: 10px;
  max-width: 250px;
  border-radius: 20px;
  text-decoration: solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border-width: 24px;
  text-align: center;
  white-space: nowrap;
}
