.header-logo img {
  width: 200px;
  height: auto;
}
header {
  background-color: #8e89cb;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

body {
  background-color: #8e89cb;
}
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.container h1 {
  text-align: center;
}
.container h2 {
  text-align: center;
}
.link-cube {
  display: flex;
  background-color: rgb(254, 253, 255);
  color: #333;
  padding: 30px;
  max-width: 200px;
  border-radius: 20px;
  text-decoration: solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border-width: 24px;
}
.link-cube:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
footer {
  background-color: white;
  color: white;
}
nav {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;

  direction: rtl;
  text-align: center;
}
#form {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;

  direction: rtl; /* עברית כמו שצריך */
  text-align: right;
}
.primary-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.secondry-actions {
  display: flex;
  padding: 30px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
